body{
    background-color: aliceblue;
  }
  hr { border-style: none;
    border-top-style: dotted;
    border-top-color: white;
    border-width: 5px;
  width: 7%;
}
h1 {color: green;}
h3 {color: green;}